.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
}

.library {
  background-color: #282c34;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book-img {
  width: 96px;
  height: auto;
  margin: 8px;
}

.clicked {
  background-color: lightgrey;
  border: none;
  border-radius: 2px;
  flex-wrap: wrap;
  width: 160px;
  padding-left: 16px;
  padding-right: 16px;
  height: 240px;
}

.unClicked {
  border: none;
  border-radius: 2px;
  flex-wrap: wrap;
  width: 160px;
  padding-left: 16px;
  padding-right: 16px;
  height: 240px;
}

.bookshelf {
  display: flex;
  gap: 16px;
  font-size: 12px;
}

.sidenav {
  width: 15%;
}

.sidenav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.sidenav-button {
  font-size: 24px;
  width: 100%;
  padding: 16px;
}